@page "/replays"
@page "/"

@using MediatR
@using HeroesProfile.Core.CQRS
@using HeroesProfile.Core.CQRS.Queries
@using HeroesProfile.Core.Models

@*
    This shows using @inject method.
    You can also define a getter/setter property on the component and use the C# [Inject] Attribute
*@

@inject IMediator mediator;

<h1>Replays</h1>

<Alert Color=Color.Info @bind-Visible="@visible">
    <AlertDescription>This view shows scanned replays and their status.</AlertDescription>
    <CloseButton />
</Alert>

@if (response == null)
{
   <PageProgress Visible=true  />
}
else
{
    <DataGrid TItem=StoredReplay Data=@response.Replays Filterable=true ShowPager=true PageSize=10 Editable=false FilterMethod=DataGridFilterMethod.StartsWith @bind-SelectedRow=@selected>
        <DataGridCommandColumn TItem="StoredReplay" />
        <DataGridColumn TItem="StoredReplay" Field="@nameof(StoredReplay.Path)" Caption="Path" Sortable="true" />
        <DataGridColumn TItem="StoredReplay" Field="@nameof(StoredReplay.Created)" Caption="Date created" Editable="false" />
        <DataGridColumn TItem="StoredReplay" Field="@nameof(StoredReplay.Fingerprint)" Caption="Fingerprint" Editable="false" />
        <DataGridColumn TItem="StoredReplay" Field="@nameof(StoredReplay.ParseResult)" Caption="Parse Result" Editable="false" />
        <DataGridColumn TItem="StoredReplay" Field="@nameof(StoredReplay.UploadStatus)" Caption="Upload Status" Editable="false" />
        <DataGridColumn TItem="StoredReplay" Field="@nameof(StoredReplay.ProcessStatus)" Caption="Process Status" Editable="false" />
    </DataGrid>
}

@code {

    private GetReplays.Response response;

    private StoredReplay selected;

    bool visible = true;

    protected override async Task OnInitializedAsync()
    {
        response = await mediator.Send(new GetReplays.Query(new List<GetReplays.Filter>()));
        StateHasChanged();
    }

}
